<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Interview Topics</ion-text>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="bg-white">
    <ion-infinite-scroll>
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data…">
        <ion-searchbar [formControl]="searchControl" placeholder="Search Topics"></ion-searchbar>
        <ion-item lines="none" button *ngFor="let topic of items" (click)="onTopicClick(topic)">
          <ion-icon slot="start" color="medium" name="list-box"></ion-icon>
          <ion-label>{{topic.name}}</ion-label>
        </ion-item>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-card>
</ion-content>